.listItem {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(59, 59, 59);
}
.listItem img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 8px 5px 10px rgb(26, 26, 26);
}
.nameAndDesc {
  text-align: left;
  color: #CAF0F8;
}

.nameAndDesc p {
  margin: 0;
  font-style: italic;
  font-size: .8rem;
}

.action {
  flex-grow: 1;
  text-align: right;
  align-self: flex-start;
}

.action button {
  background: none;
  border: 1px solid red;
  color: red;
}

.action button:active {
  background: red;
  color: #fff;
  border: 1px solid #fff;
}